.profile {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 1px solid #dae2ea;
  cursor: pointer;
  outline: none;
}
.profile:hover,
.setting:hover,
.help:hover,
.logout:hover {
  background-color: #e7edf4;
}
.name {
  margin-left: 15px;
  font-weight: bold;
  color: #2a5885;
}

.more {
  border-bottom: 1px solid #dae2ea;
  display: flex;
  flex-direction: column;
  color: #2a5885;
}
.more span {
  margin-left: 10px;
}

.setting,
.help {
  display: flex;
  padding: 5px 10px;
  cursor: pointer;
}
.logout {
  padding: 5px 10px 7px;
  color: #2a5885;
  cursor: pointer;
  display: flex;
}
.logout span {
  margin-left: 10px;
}

.profileNav {
  padding: 0;
  margin: 0;
}
